body { font-family: "Lucida Grande", sans-serif; }
header {
  width: 90%;
  background-color: #e7ffff;
  color: blue;
  border-radius: 5px;
  margin: 0 auto;
  border: 2px dashed blue;
}
header h1 { text-align: center; }
header h3 { text-align: center; }
header h3:before { content: "("; }
header h3:after { content: ")"; }

nav h2 {
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 300px;
}

nav li {
  padding: 3px 0;
}

.submenu {
  display: none;
  padding-left: 25px;
}

li:hover .submenu {
  display: block;
}
